<div class="page-header">
  <h1>
    <%= t('activerecord.models.start_page') %>
    <small><i class="ace-icon fa fa-angle-double-right"></i>
      显示
    </small>
    <small class="pull-right" style="margin: -7px -8px 0 0">
      <a href="<%= edit_admin_start_page_path(@start_page) %>" title="编辑" class="btn btn-default">
        <i class="fa fa-edit"></i></a>
      <a href="<%= admin_start_pages_path %>" title="列表" class="btn btn-default">
        <i class="fa fa-list"></i></a>
    </small>
  </h1>
</div>

<% if notice %>
    <div class="alert alert-success"><%= notice %>
      <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
      </button>
    </div>
<% end %>


<div class="profile-user-info profile-user-info-striped" style="margin: 0">
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.name') %></div>

    <div class="profile-info-value">
      <span><%= @start_page.name %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> 跳转地址</div>

    <div class="profile-info-value">
      <span><%= @start_page.url %></span>
    </div>
  </div>


  <div class="profile-info-row">
    <div class="profile-info-name"> 当前是否显示</div>

    <div class="profile-info-value">
      <span><%= show_status (@start_page.start_time.to_i..@start_page.end_time.to_i).include? Time.now.to_i %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> 起始时间</div>

    <div class="profile-info-value">
      <span>
      <%= "#{@start_page.start_time.try(:strftime, "%Y-%m-%d %H:%M")} -- #{@start_page.end_time.try(:strftime, "%Y-%m-%d %H:%M")}" %>
      </span>
    </div>
  </div>
  <% if @start_page.cover.present? %>
      <div class="profile-info-row">
        <div class="profile-info-name">封面</div>
        <div class="show-row-margin">
          <span><%= image_tag(@start_page.cover_url) %></span>
        </div>
      </div>
  <% end %>


</div>
