<div class="page-header">
  <h1>
    <%= t('activerecord.models.city') %>
    <small><i class="ace-icon fa fa-angle-double-right"></i>
      列表
    </small>
    <small class="pull-right" style="margin: -7px -8px 0 0">
      <a href="<%= new_admin_city_path %>" class="btn btn-default" title="添加<%= t('activerecord.models.city') %>">
        <i class="icon-only fa fa-plus"></i></a>
    </small>
  </h1>
</div>


<% if @cities.present? %>
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th><%= t('simple_form.labels.defaults.name') %></th>
        <th><%= t('simple_form.labels.defaults.abbr') %></th>
        <th><%= t('simple_form.labels.defaults.sort') %></th>
        <th>操作</th>
      </tr>
      </thead>


      <tbody>
      <% @cities.each do |city| %>
          <tr>
            <td><%= city.id %></td>
            <td><%= city.name %></td>
            <td><%= city.abbr %></td>
            <td><%= city.sort %></td>
            <td>
              <%= link_to edit_admin_city_path(city), title: '编辑', class: 'btn btn-xs btn-info btn-lh-1' do %>
                  <i class="fa fa-edit icon-only"></i>
              <% end %>
              <%= link_to [:admin, city], method: :delete, data: {confirm: '确认删除该城市吗?'}, title: '删除', class: 'btn btn-xs btn-danger btn-lh-1 icon-width-28' do %>
                  <i class="fa fa-trash-o icon-only"></i>
              <% end %>

              </tr>
      <% end %>
      </tbody>
    </table>
    <nav class="pull-right"><%= paginate @cities %></nav>
<% else %>
    <div class="alert alert-info">暂无城市</div>
<% end %>



