<div class="page-header">
  <h1>
    <%= t('activerecord.models.video') %>
    <small><i class="ace-icon fa fa-angle-double-right"></i>
      显示
    </small>
    <small class="pull-right" style="margin: -7px -8px 0 0">
      <a href="<%= edit_admin_video_path(@video) %>" title="编辑" class="btn btn-default">
        <i class="fa fa-edit"></i></a>
      <a href="<%= admin_videos_path %>" title="列表" class="btn btn-default">
        <i class="fa fa-list"></i></a>
    </small>
  </h1>
</div>

<% if notice %>
    <div class="alert alert-success"><%= notice %>
      <button type="button" class="close" data-dismiss="alert">
        <i class="ace-icon fa fa-times"></i>
      </button>
    </div>
<% end %>


<div class="profile-user-info profile-user-info-striped" style="margin: 0">
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.name') %></div>

    <div class="profile-info-value">
      <span><%= @video.name %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name "> <%= t('simple_form.labels.defaults.status') %></div>

    <div class="profile-info-value">
      <span><%= t("status.on_line#{@video.status}") %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.column_ids') %></div>

    <div class="profile-info-value">
      <span><%= Column.find(@video.column_ids).pluck(:name).join(',') %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name vertical-align-top">封面</div>
    <div class="show-row-margin">
      <% if @video.video_cover.present? %>
          <span><%= image_tag(@video.video_cover, size: '400x300') %></span>
      <% end %>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.src') %></div>

    <div class="profile-info-value">
      <span><%= @video.video_src %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.video_duration') %></div>

    <div class="profile-info-value">
      <span><%= @video.duration %></span>
    </div>
  </div>

</div>
